<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d86c9a1724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/index.css">
    <title>Student - SRN</title>

</head>

<body>

    <div id="navbar"></div>

    <!-- Content -->

    <div class="row m-2">
        <div class="col mt-2">
            <div class="info-user">
                <img class="m-3"
                    src="https://www.uclg-planning.org/sites/default/files/styles/featured_home_left/public/no-user-image-square.jpg?itok=PANMBJF-"
                    alt="profile">
                <h3 id="Name"></h3>
                <h5><b><i>Estudiante</i></b></h5>
                <div class="row">
                    <div class="col">
                        <label>Direccion</label>
                        <input type="text" disabled class="form-control" id="Address" />
                    </div>
                    <div class="col">
                        <label>DUI</label>
                        <input type="text" disabled class="form-control" id="DUI" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Correo</label>
                        <input type="text" disabled class="form-control" id="Email" />
                    </div>
                    <div class="col">
                        <label>Telefono</label>
                        <input type="text" disabled class="form-control" id="Phone" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="info-user">
                <h2>Cambia tu contraseña</h2>
                <form class="changePassword" id="changePassword">
                    <label>Cambiar tu contraseña para acceder a tu cuenta</label>
                    <input type="password" placeholder="Nueva contraseña" class="form-control mt-4" id="new_password" />
                    <input type="password" placeholder="Confirme contraseña" class="form-control mt-3" id="confirm_password" />
                    <input type="submit" class="form-control btn btn-success mt-3" value="Cambiar">
                    <div class="mt-2" id="alert">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Student/User/index.js"></script>

</body>

</html>